% -*- mode: erlang -*-

% We would like code-coverage metrics when we run eunit.
{cover_enabled, true}.

% Options to pass into compiler during compile-time.
{erl_opts, [ debug_info,      % Compile with Debug information for now.
             fail_on_warrning % We don't even want to have warnings.
           ]}.

% Options to pass into eunit:test during testing.
{eunit_opts, [ verbose ]}.
